In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("rpg_db.sqlite3")

In [4]:
#dir(conn)

In [5]:
cursor = conn.cursor()
#dir(cursor)

## How many total characters are there?

In [6]:
query = '''
SELECT
 count(DISTINCT character_id)
FROM charactercreator_character;
'''
result = cursor.execute(query).fetchall()
print(result)

[(302,)]

## Q2. How many characters for each specific subclass

In [12]:
query2 = '''
SELECT
  COUNT(DISTINCT character_ptr_id) as character_total
FROM charactercreator_mage;

'''
result2 = cursor.execute(query2).fetchall()
print(result2)

[(108,)]

In [13]:
import pandas as pd

#get columns from cursor object
columns = list(map(lambda x: x[0],cursor.description))

#assign to dataframe
df = pd.DataFrame(data=result2,columns=columns)
print(df.shape)
df.head(10)

(1, 1)

   character_total
0              108

## Q3. How many total items

In [19]:
query3 = '''
SELECT
  COUNT(DISTINCT item_id)
FROM armory_item;

'''
result3 = cursor.execute(query3).fetchall()
print(result3)

[(174,)]

## Q4. How many of the Items are weapons? How many are not?

In [ ]:
query4 = '''
SELECT
  COUNT(DISTINCT item_id)
FROM armory_item;

'''
result4 = cursor.execute(query4).fetchall()
print(result4)

## Q5. How many Items does each character have? (Return first 20 rows)

In [35]:
query5 = '''
SELECT
  cci.character_id,
COUNT(DISTINCT (aw.item_ptr_id))
FROM charactercreator_character_inventory as cci
LEFT JOIN armory_weapon AS aw
ON cci.item_id = aw.item_ptr_id
GROUP BY character_id
LIMIT 20;

'''

result5 = cursor.execute(query5).fetchall()
print(result5)

[(1, 0), (2, 0), (3, 0), (4, 0), (5, 2), (6, 0), (7, 1), (8, 0), (9, 0), (10, 0), (11, 1), (12, 0), (13, 0), (14, 0), (15, 0), (16, 0), (17, 0), (18, 0), (19, 0), (20, 1)]

## Q6. How many Weapons does each character have? (Return first 20 rows)

In [33]:
query6 = '''
SELECT
  cci.character_id,
COUNT(DISTINCT (aw.item_ptr_id))
FROM charactercreator_character_inventory as cci
JOIN armory_weapon AS aw
ON cci.item_id = aw.item_ptr_id
GROUP BY cci.character_id
LIMIT 20;

'''

result6 = cursor.execute(query6).fetchall()
print(result6)

[(5, 2), (7, 1), (11, 1), (20, 1), (22, 1), (23, 1), (26, 1), (27, 3), (29, 2), (30, 1), (32, 1), (34, 1), (35, 2), (36, 3), (37, 2), (38, 2), (39, 2), (40, 1), (41, 1), (47, 1)]

In [ ]:
#get columns from cursor object
columns = list(map(lambda x:x[0], cursor.description))

#assign to dataframe
df5 = pd.DataFrame(data=result5,columns=columns)
print(df5.shape)
df5.head(20)

In [34]:
import pandas as pd

#get columns from cursor object
columns = list(map(lambda x:x[0], cursor.description))

#assign to dataframe
df6 = pd.DataFrame(data=result6,columns=columns)
print(df6.shape)
df6.head(20)

(20, 2)

    character_id  COUNT(DISTINCT (aw.item_ptr_id))
0              5                                 2
1              7                                 1
2             11                                 1
3             20                                 1
4             22                                 1
5             23                                 1
6             26                                 1
7             27                                 3
8             29                                 2
9             30                                 1
10            32                                 1
11            34                                 1
12            35                                 2
13            36                                 3
14            37                                 2
15            38                                 2
16            39                                 2
17            40                                 1
18            41                                 1
19            47                                 1

## Q7. On average, how many Items does each Character have?

In [38]:
query_7='''
SELECT
  character_id,
  COUNT(DISTINCT item_id) AS character_count
FROM charactercreator_character_inventory
GROUP BY character_id;
'''
result7=cursor.execute(query_7).fetchall()
print(result7)

[(1, 3), (2, 3), (3, 2), (4, 4), (5, 4), (6, 1), (7, 5), (8, 3), (9, 4), (10, 4), (11, 3), (12, 3), (13, 4), (14, 4), (15, 4), (16, 1), (17, 5), (18, 5), (19, 3), (20, 1), (21, 4), (22, 3), (23, 3), (24, 1), (25, 2), (26, 2), (27, 5), (28, 1), (29, 4), (30, 4), (31, 3), (32, 2), (33, 2), (34, 4), (35, 5), (36, 5), (37, 5), (38, 5), (39, 3), (40, 3), (41, 2), (42, 3), (43, 1), (44, 1), (45, 4), (46, 1), (47, 4), (48, 4), (49, 4), (50, 1), (51, 3), (52, 2), (53, 5), (54, 1), (55, 4), (56, 1), (57, 3), (58, 4), (59, 4), (60, 4), (61, 2), (62, 1), (63, 5), (64, 3), (65, 5), (66, 5), (67, 1), (68, 4), (69, 3), (70, 3), (71, 3), (72, 1), (73, 1), (74, 2), (75, 1), (76, 1), (77, 4), (78, 3), (79, 1), (80, 3), (81, 5), (82, 4), (83, 3), (84, 4), (85, 5), (86, 5), (87, 1), (88, 4), (89, 2), (90, 2), (91, 5), (92, 5), (93, 4), (94, 4), (95, 5), (96, 5), (97, 3), (98, 2), (99, 1), (100, 5), (101, 5), (102, 3), (103, 5), (104, 5), (105, 3), (106, 4), (107, 1), (108, 4), (109, 1), (110, 1), (111, 1), (112, 2), (113, 2), (114, 5), (115, 5), (116, 1), (117, 4), (118, 5), (119, 5), (120, 3), (121, 3), (122, 2), (123, 3), (124, 1), (125, 3), (126, 1), (127, 3), (128, 3), (129, 5), (130, 1), (131, 3), (132, 4), (133, 3), (134, 4), (135, 5), (136, 4), (137, 3), (138, 3), (139, 5), (140, 3), (141, 1), (142, 5), (143, 2), (144, 1), (145, 4), (146, 4), (147, 1), (148, 4), (149, 3), (150, 3), (151, 3), (152, 3), (153, 4), (154, 3), (155, 4), (156, 5), (157, 1), (158, 1), (159, 3), (160, 5), (161, 2), (162, 2), (163, 3), (164, 1), (165, 5), (166, 4), (167, 2), (168, 1), (169, 1), (170, 4), (171, 4), (172, 2), (173, 2), (174, 2), (175, 3), (176, 3), (177, 2), (178, 2), (179, 2), (180, 1), (181, 5), (182, 1), (183, 4), (184, 4), (185, 4), (186, 2), (187, 1), (188, 2), (189, 1), (190, 4), (191, 3), (192, 2), (193, 4), (194, 5), (195, 1), (196, 4), (197, 5), (198, 5), (199, 3), (200, 1), (201, 5), (202, 1), (203, 1), (204, 1), (205, 2), (206, 5), (207, 1), (208, 2), (209, 1), (210, 3), (211, 1), (212, 2), (213, 2), (214, 1), (215, 1), (216, 3), (217, 3), (218, 2), (219, 1), (220, 4), (221, 4), (222, 2), (223, 2), (224, 1), (225, 3), (226, 2), (227, 4), (228, 2), (229, 3), (230, 1), (231, 3), (232, 4), (233, 5), (234, 1), (235, 5), (236, 1), (237, 1), (238, 5), (239, 3), (240, 3), (241, 3), (242, 1), (243, 3), (244, 4), (245, 5), (246, 3), (247, 5), (248, 1), (249, 4), (250, 4), (251, 5), (252, 2), (253, 2), (254, 1), (255, 2), (256, 2), (257, 3), (258, 4), (259, 5), (260, 4), (261, 5), (262, 4), (263, 4), (264, 5), (265, 3), (266, 5), (267, 4), (268, 1), (269, 1), (270, 1), (271, 2), (272, 2), (273, 3), (274, 3), (275, 2), (276, 1), (277, 1), (278, 1), (279, 2), (280, 5), (281, 5), (282, 4), (283, 4), (284, 1), (285, 5), (286, 1), (287, 5), (288, 3), (289, 5), (290, 5), (291, 4), (292, 2), (293, 2), (294, 5), (295, 2), (296, 3), (297, 4), (298, 2), (299, 3), (300, 1), (301, 2), (302, 5)]

In [39]:
import pandas as pd

#get columns from cursor object
columns = list(map(lambda x:x[0], cursor.description))

#assign to dataframe
df7 = pd.DataFrame(data=result7,columns=columns)
print(df7.shape)
df7.head(10)

(302, 2)

   character_id  character_count
0             1                3
1             2                3
2             3                2
3             4                4
4             5                4
5             6                1
6             7                5
7             8                3
8             9                4
9            10                4

## Q8. On average, how many Weapons does each character have?

In [ ]:
query8 ='''
SELECT
AVG(weapon_count) AS avg_weapons
FROM

'''

In [40]:
def get_data(query,conn):
    ''' function to get data from SQLite DB'''
    
    conn = sqlite3.connect("rpg_db.sqlite3")
    
    cursor = conn.cursor()
    result2 = cursor.execute(query).fetchall()
    
    #get columns from cursor object
    columns = list(map(lambda x: x[0],cursor.description))
    
    #Assign to dataframe
    df = pd.DataFrame(data=result2,columns=columns)
    return df

In [41]:
df2 = get_data('SELECT * FROM charactercreator_character')
print(df.shape)

TypeError: get_data() missing 1 required positional argument: 'conn'